@font-face {
  font-family: 'BebasNeueRegular';
  src: url('../fonts/BebasNeue-webfont.woff') format('woff'),
       url('../fonts/BebasNeue-webfont.ttf') format('truetype'),
       url('../fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

html, body {
  height: 100%;
}

body {
  font-family: Verdana,Helvetica,Arial,sans-serif;
  margin: 0;
  overflow-x: hidden;
  position: relative;
  text-align: center;
}

#page {
  background: #111;
  bottom: 0;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.8);
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  transition-duration: 0.5s;
  transition-property: left, right;
  width: 100%;
  z-index: 1;
}

.settings #page {
  right: 240px;
}

#speed {
  color: #f0f0f0;
  font-family: 'BebasNeueRegular';
  padding: 50px 0 0;
}

#speed .val {
  display: block;
  font-size: 200px;
  line-height: 200px;
}

#speed .units {
  font-size: 60px;
  line-height: 60px;
}

#gps-signal {
  color: #ccc;
  left: 10px;
  position: absolute;
  text-align: left;
  top:10px;
}

#gps-bars {
  display: inline-block;
}

#gps-bars div {
  background: #ccc;
  display: inline-block;
  height: 13px;
  margin: 0 1px;
  width: 3px;
}

#gps-bars.one #bar1,
#gps-bars.two #bar1,
#gps-bars.two #bar2,
#gps-bars.three #bar1,
#gps-bars.three #bar2,
#gps-bars.three #bar3 {
  background: #00ff00;
}

#gps-message {
  display: inline-block;
  font-size: 11px;
  padding: 3px 0 0;
  vertical-align: top;
}

#settings {
  background: url("../img/grain.png") repeat scroll 0 0 #323C3E;
  bottom: 0;
  color: #FFFFFF;
  overflow: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 240px;
  z-index: 0;
}

#settings header {
  background-color: #1A2122;
  background-image: url("../img/grain.png"), -moz-linear-gradient(center top , #1A2122 0px, #1B2324 100%);
  border-bottom: 1px solid #929E9E;
  font-size: 21px;
  margin: 0;
  padding: 10px;
}

#settings ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

#settings li {
  border-bottom: 1px solid #626E6E;
  display: block;
  font-size: 17px;
  margin: 0;
  padding: 16px 16px 10px;
}

#settings select,
#settings input {
  float: right;
}

#settings-toggle {
  background: transparent url(../img/gear-32.png) no-repeat top left;
  color: #fff;
  font-family: 'BebasNeueRegular';
  font-size: 60px;
  height: 32px;
  position: absolute;
  right: 15px;
  top: 15px;
  width: 32px;
  z-index: 2;
}

#settings-toggle:hover {
  cursor: pointer;
}

#geolocation-debug {
  bottom: 15px;
  color: #aaa;
  display: none;
  font-size: 16px;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.debug #geolocation-debug {
  display: block;
}
